<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 1em">
    <a class="navbar-brand" href="/">TinyApp</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/urls/new">Create New TinyURL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/urls">Show all URLs</a>
        </li>
      </ul>
    </div>
    <% if(email) { %>
      <span class="navbar-text mr-2">Logged In As: <%= email %></span>
      <form class="form-inline" action="/logout" method="POST">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
      </form>
    <% } else { %>
      <span class="navbar-text">
        <a class="nav-link" href="/register">Register</a>
      </span>
      <span class="navbar-text">
        <a class="nav-link" href="/login">Login</a>
      </span>
    <% } %>
  </nav>
</header>